.popup {
  height: 350px;
  width: 550px;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-content {
  height: 100%;
  width: 100%;
  background-color: #000000a1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-content-confirm {
  height: 100%;
  width: 100%;
  background-color: #000000a1;
  color: var(--action);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-content-confirm div {
  gap: 1rem;
}

.popup-content-confirm div button {
  width: 5rem;
}

.popup-content h2 {
  font-family: var(--body);
  font-size: 2.5rem;
  color: var(--action);
  text-align: center;
}

.popup-content fieldset {
  margin-top: 2.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content input {
  width: 80%;
  padding: 10px 0;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.close-button {
  color: var(--action);
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.button-container p {
  color: #fff;
}

.popup-content input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #000000af inset !important;
  -webkit-text-fill-color: #fff !important;
}
