@import url("https://fonts.googleapis.com/css2?family=Englebert&family=Patrick+Hand+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: "Englebert", sans-serif;
  --body: "Patrick Hand SC", cursive;
  --sol: "Architects Daughter", cursive;
}
@media (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 0.6rem;
    background: var(--bgb);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--mainbg);
    border-radius: 0.5rem;
  }
}

html {
  --bgb: #020202;
  --bright: #ffffff;
  --action: #a6934f;
  --error: #c84d4d;
  --mainbg: #eae1c4;
  --nav: #c84d4df5;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--title);
}

input:focus {
  outline: none;
}

main.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--action);
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px;
  margin-right: 1rem;
  overflow: hidden;
}

.user-avatar-image {
  width: 100%;
  min-height: 100%;
}

.error-new-rec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b52a2a;
}

@media (max-width: 450px) {
  main.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0;
  }

  .scroll-button {
    padding-bottom: 10vh;
  }
}
